@import './palette.less';

@media (max-width: 768px) {

    // html, body {
    //     overflow-x: hidden;
    // }

    .hidden {
      overflow: hidden!important;
    }

    .section__title > h1 {
        font-family: "Alata";
        font-size: 40px;
        font-weight: 400;
        line-height: 100px;
    }

    .header {
      box-sizing: border-box;

        &__logo {
          padding-left: 0;

          .logo__original {
            width: 145px;
            height: 50px;
          }

          &-active {
            padding-left: 20px;
          }
        }

        &__title > h1 {
          font-size: 50px;
          line-height: 60px;
          margin-top: 20px;
        }

        &__button > button {
            margin-top: 80px;
            margin-bottom: 70px;
        }

        &__description > h2 {
            line-height: 20px;
            font-size: 14px;
            margin-top: 18px;
        }

        .burger{
          margin-top: 30px;
          margin-left: 20px;
          height: 30px;
          width: 30px;
          cursor: pointer;

          &__line {
            margin-top: 5px;
            height: 2px;
            width: 25px;
            background-color: @black;
          }
        }
        
        .header__mobile {
          width: 100%;

          .header__navbar {
            padding-left: 10px;
            height: 80px;
            background-color: @black;

            .logo__inversion {
              width: 145px;
              height: 50px;
            }

            .close {
              padding: 0;
              cursor: pointer;
              height: 50px;
              width: 50px;
              margin: 25px 0 0 -30px;
            }
          }

          .header__button {
            background-color: @white;
            margin-top: -2px;
          }

          &__title > h1 {
            line-height: 60px;
            margin-top: 80px;
            font-size: 50px;
          }
        }

        .header__mobile-active {
          overflow: hidden;
        }

        &__links {
          display: none;
        }

        &_links {
          padding-top: 10px;
          height: auto;
          background-color: @white;
        }

        &__link {
          text-align: center;
          display: block;
          font-family: "Sofia Pro";
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          padding: 35px 0 0 0;
          margin: 0;

        }

        &__link:hover {
          text-align: center;
          display: block;
          font-family: "Sofia Pro";
          font-weight: 400;
          font-size: 40px;
          line-height: 40px;
          padding-top: 30px;
          margin-left: 0;
          opacity: 0.6;
        }
    }

    .main {
        &__services {
          padding: 0 10px;

          .services__content {
            padding: 0 0 60px 0;
          }

          .services__items {
            margin-top: 0!important;
          }

          .services__description {
            font-family: "Sofia Pro";
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            font-style: normal;
            padding-top: 25px;  
          }

          .item__title {
            padding-top: 50px;

            p {
              font-family: "Sofia Pro";
              font-weight: 700;
              font-size: 25px;
              line-height: 50px;
              font-style: normal;

            }
          
          }
          
          .services__list {
            margin-top: 5px;

            li {
              font-family: "Sofia Pro";
              font-weight: 300;
              font-size: 14px;
              line-height: 16px;
              font-style: normal;
            }


          }

          .item__arrow {
            margin-bottom: 0!important;
          }
        }

        &__about-us{
          padding: 0 10px;

          .about-us__image {
            width: 290px!important;
            height: 180px!important;
          }

          .about-us__description {
            font-family: "Sofia Pro";
            font-weight: 300;
            font-size: 14px;
            font-style: normal;
            line-height: 24px;
            padding-top: 30px;
          }
        }

        &__title {
            &_about-us {
                padding: 30px 0 10px 0;
            }

            &_services {
                padding: 30px 0 10px 0;
            }
        }

        .about-us__content {
          display: flex;
          padding: 50px 10px;
        }
    }

    .footer {
        height: auto;
        
        &__title > h1 {
          margin: 30px 0 10px 0;
          padding: 0;
        }

        .footer__email {
          word-wrap: break-word;
        }

        .email__title, .email__name {
          font-family: "Sofia Pro";
          font-weight: 700;
          font-size: 25px;
          line-height: 30px;
          font-style: normal;
        }

        &__form {
          margin: 40px 0px 70px 0;
          padding-bottom: 70px;
          justify-content: flex-start;

          .form__title {
            font-family: "Sofia Pro";
            font-weight: 700;
            font-size: 25px;
            line-height: 35px;
            padding: 0;
            width: 70%;
            margin-bottom: 20px;
          }

          .form__input {
            width: 290px;
          }

          .form__button {
            margin-bottom: 0;
          }
        }
    }
}
